@charset "UTF-8";
/*base.scss*/
/*ссылки на док-ю сасс
https://sass-scss.ru/documentation/
https://sass-lang.com/install
*/
/* скрипт для запуска сасс, в покидже джейсон npm run compile-css*/
/*https://loading.io/asset/632299 ссылка для входа в живые бэкграунды*/
::-webkit-scrollbar {
  width: 0.1px;
  height: 5px;
  pacity: 0.02; }

  /* УБРАЛ ПОЛОСУ ПРОКРУТКИ С ЭКРАНА и сделал свою. 
Когда пишу сайт, чтобы на планшете отображалось содержимое от края до края страницы 
без зазоров, прокрутку можно отключить. И включить для красоты по готовности сайта.*/
::-webkit-scrollbar-button {
  height: 50px;
  background: #42e10e; }

/*2 - кнопка*/
::-webkit-scrollbar-track {
  background: #274dd7; }

/*3 - трек */
::-webkit-scrollbar-track-piece {
  background: #e91e63; }

/*4 - видимая часть трека */
::-webkit-scrollbar-thumb {
  background: #fbe100;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /*inset 1 3 13px rgb(207 10 10 / 64%)*/ }

/*5 - ползунок */
/*настраивает полосу прокрутки с помощью вэбкит. С этими еще не разобрался*/
/*::-webkit-scrollbar{ width: 22px; } /*1 - вертикальный скроллбар*/
/*::-webkit-scrollbar:horizontal{ height: 22px;  }  /*1 - горизонтальный скроллбар*/
/*::-webkit-scrollbar-button {background :#e50845; }  /*2 - кнопка*/
/*::-webkit-scrollbar-track {background: #008000; }  /*3 - трек */
/*::-webkit-scrollbar-track-piece { background: #32CD32;}  /*4 - видимая часть трека */
/*::-webkit-scrollbar-thumb {background: #322e76; border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); } /*5 - ползунок */
/*::-webkit-scrollbar-corner {: #32CD32; }  6 - уголок */
/*::-webkit-resizer { : #32CD32; } 7 - изменение размеров*/

* {box-sizing: border-box;}

html {width: 1280px;height:auto;}

body {
  ox-sizing: border-box;
  width: 1280px;
 height:auto;
  min-height: 100;
  padding: 0px;
  margin: 0px;
  background-image: url('../images/abstractfirebloom.png');
background-attachment: fixed;/*делает фотку на бэк-де, чтоб не повторялась*/
background-size: cover;
background-color: skyblue; 
  font-size: 15px;
  text-align: center; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  /*можно складывать цвета, 
  просмотреть это можно в base.css, в коне цвета будет 7*/
  height: 3rem;
  /*можно так писать*/
  height: 30p;
  /*можно так писать*/
  margin: 0.95rem 0;
  background-color: #262122;
  color: #ffffe7;
  /*можно вычитать и прибавлять*/
  /*умножать и делить*/ }

/*Это не из модуля*/
/* Position the tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #262122;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  position: absolute;
  display: none;
  min-width: 160px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown:hover .dropdown-content {
  display: block; }

.desc {
  padding: 15px;
  text-align: center; }

  .sliderWrapFlex {
osition: absolute;
width: 356px;
    height: 246px;
 top: 201px;
left: 301px;
border: 1px solid #ff0;
    border-radius: 24px;
      margin:0 auto;  
      margin-top: 278px;
      background-color: #90ee90;
box-shadow: 4px 5px 7px 1px #0000009c;
}

 .slideshow-container {
      max-width:265px;
      position: relative;
      argin: auto;
      }

      .mySlides {
            display: none;
            width: 100%;
height: 100%;
background-size: cover;
background-position: center center;
-webkit-animation-name: slowing;
-webkit-animation-duration: 1.5s;
animation-name: slowing;
animation-duration: 1.5s;
      }

      img {vertical-align: middle;}

      /* Кнопки next & previous*/
      .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 47%;
      width: 37px;
    height: 34px;
     padding: 2p 11p;
      margin-top: -22p;
     color: #000;
      font-weight: bold;
      font-size: 18px;
      text-align: -webkit-center;
      transition: 0.6s ease;
      border-radius: 51px;
      border: 1px solid #000;
      user-select: none;
      }
      /* Измените положение "next button" */
      .next {
        border-radius: 66px;
    width: 37px;
    height: 34px;
    padding-top: 4px;
    padding-left: 2px;   
      left: 315px;
      border: 1px solid #000;
      color: #000;
      }
      /* Добавьте черный фоновый цвет с небольшой прозрачностью*/
      .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
       color:red;
      }

      .filterImgSlides {
       display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px; 
    height: 177px;
    margin-top: 22px;
   margin-left: 41px;   
      }

      .imgSlides {
width: 50%;
height: 100%;
border: 2px solid #f00;
border-radius: 13px;
    margin-right: 10px;
    box-shadow: 0px 5px 6px 1px #897e7e;
      }

      .imgTwoSlides {
width: 50%;
height: 100%;
border: 2px solid #008000;
border-radius: 13px;
box-shadow: 0px 5px 6px 1px #897e7e;
      }

      /* Number text (1/3 etc) */
      .numbertext {
       position: absolute;
      top: -24px;
      left: 152px; 
       padding: 8px 12px;    
      color: black;
      font-size: 12px;
      }

      /* Подпись под изображением */
      .text {
      color: #ffffff;
      font-size: 12px;
      padding: 8px 8px;
      position: absolute;
      bottom: 8px;
      left: 45px;
      width: 48%;
      ext-align: center;
      }

      .textTwo {
         position: absolute;
       width: 48%;
        bottom: 8px;
      left: 184px; 
       padding: 8px 8px;   
       color: #ffffff;
      font-size: 12px;
      ext-align: center;
      }

      /* Точки/маркеры/указатели */
.dotsContainer {
      osition: absolute;
      width: 155px;
      height: 16px;
      top: 373p;
    left: 210p;
    border: 1px solid #000;
    border-radius: 50px;
    margin-top: 19px;
    margin-left: 98px;
      text-align:center;
}

      .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0px 4px;
      background-color: #999999;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      }
      .active, .dot:hover {
      background-color: #111111;
      }
      /* Выцветание анимации */
      .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
      }
      @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
      }
      @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
      }
      /* Для маленьких экранов увеличьте размер текста */
      @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
      }

/*# sourceMappingURL=base.css.map */
